/*
Colors:
    Black (Text): #10120a
    Cream (Accent Background): #f4f1de
    Light Red: #e07154
    Dark Red: #823200
    Light Blue-Green: #81b29a
    Dark Green: #65743a
    Dark Blue: #3d405b
    Yellow: #f2cc8f

Fonts:
    Serif:
    Sans Serif:
    Script:
*/

@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Spectral&display=swap');

body {
    padding-bottom: 20px;
}

nav {
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: top left 0;
    position:fixed;
    width: 100vh;
    bottom: -10vh;
    padding:1vw;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style-type: none;
}

nav li {
    padding-top: 1vw;
    padding-left: 5vh;
    padding-right: 5vh;
    display: inline;
}

nav a {
    font-family: 'Assistant', sans-serif;
    color: #3d405b;
    text-decoration: none;
    font-size: 2.5vh;
    text-align: center;
}

nav a:link {
    color: #3d405b;
}

nav a:visited {
    color: #3d405b;
}

nav a:hover {
    color: #e07154;
}

nav a:active {
    color: #e07154;
}

nav a.current {
    color: #65743a;
    cursor: default;
}

nav a.current:after {
    transform: translateX(-50%);
    border-radius: 100%;
    position: relative;
    background: #65743a;
    bottom: -1vw;
    right: 50%;
    height: 0;
    content: '';
    font-size: 0;
    width: 0; 
    padding:0.25vw;
}

div.main_text {
    position: relative;
    left: 10vw;
    width: 50vw;
    top: 10vh;
    padding-bottom: 10px;
}

.main_text p {
    font-family: 'Assistant', sans-serif;
    color: #3d405b;
    font-size: 2.5vh;  
}

.main_text h2 {
    font-family: 'Assistant', sans-serif;
    color: #e07154;
    font-size: 3.5vh;  
}

.main_text h3 {
    font-family: 'Assistant', sans-serif;
    color: #3d405b;
    font-size: 2.75vh;  
}

.main_text a {
    color: #81b29a;
    text-decoration: none;
}

div.header {
    position: fixed;
    right: 5vw;
    width: 30vw;
    top: 10vh;
    text-align: right;
}

div.header h1 {
    font-family: 'Spectral', serif;  
    color: #823200;
    font-size: 3vw;
    padding:0;
    margin:0;
}

div.header img.face {
    width: 10vw;
}

div.header a img {
    width: 2.5vw;
    padding-right: 0vw;
    padding-bottom: 1vh;
    display:inline;
}
div.header a.social:hover {
    cursor: pointer;
}


div.header a {
    display: block;
    position: relative;
    font-family: 'Assistant', sans-serif;
    font-size: 2.5vh; 
    color: #81b29a;
    text-align: right;
    margin-right: 1vw;
    padding:0.5vh;
    text-decoration: none;
}
div.header a.social {
    display: inline;
    align-items: center;
}

a:hover {
    cursor: pointer;
}

footer {
    color:#f4f1de;
    font-family: 'Assistant', sans-serif;
    position:fixed;
    top:0px;
    right:0px;
}

footer div {
    float:right;
    padding-left: 1vw;
}

footer a, footer a:active, footer a:hover, footer a:link {
    color: #f4f1de;
    text-decoration: none;
}

@media only screen and (max-width: 550px) {
    
    div.header {
        position:absolute;
        display:block;
        left:10vw;
        top: 5vh;
        width:80vw;
        text-align: center;
    }
    div.header img.face {
        float:left;
        height:7vh;
        width:7vh;
    }
    
    div.header h1 {
        display:block;
        font-size: 6vw;
        height:7vh;
        line-height:7vh;
    }
    
    div.header a img {
        width: 6vw;
    }
    
    div.header a {
        text-align: left;
        font-size:4vw;
        margin-left:6vw;
        
    }
    
    div.header a.social {
        margin-left:0;
    }
    
    div.main_text {
        position:relative;
        top:30vh;
        width:75vw;
        font-size: 4vw;
        left: 15vw;
    }
    
    nav a {
        font-size: 4vw;
    }
    
    nav a.current:after {
    bottom: -2.5vw;
    height: 0.1vw;
    content: '';
    font-size: 0;
    width: 0.1vw; 
    padding:0.7vw;
}
    
}
